<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>itang - 爱唐</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="关于itang的一些">
  <meta name="author" content="itang">
  <link href="http://cdn.staticfile.org/twitter-bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.staticfile.org/twitter-bootstrap/2.1.0/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="static/app/styles/index.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="static/app/images/favicon.ico">
</head>
<body>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span4 offset4" id="content">
        <div id="who">
          <span><img src="/static/app/images/my.jpg"/>
          <b>itang</b><small>(唐古拉山)</small></span></div>
        <div class="row">
          <div class="span2">
            <strong>网络</strong>
            <ul>
              <li><a href="http://blog.itang.me">blog<span>&nbsp;(<a href="https://github.com/itang/todo.itang.me/issues/15" target="_blank" style="text-decoration:underline;">TODO</a>)</span></li>
              <li><a href="http://itang.iteye.com">javaeye</a></li>
              <li><a href="https://twitter.com/#!/livetang" target="_blank">twitter</a></li>
              <li><a href="https://github.com/itang" target="_blank">github</a></li>
              <li><a href="http://www.douban.com/people/itang/" target="_blank">douban</a></li>
              <li><a href="http://weibo.com/tangq" target="_blank">weibo</a></li>
              <li><a href="https://plus.google.com/111829430987333602415" target="_blank">google+</a></li>
              <li><a href="http://www.linkedin.com/pub/qiong-tang/23/483/4" target="_blank">linkedin</a></li>
            </ul>
          </div>
          <div class="span2">
            <div id="site-links">
              <strong>项目</strong>
              <ul>
                <li><a href="http://app.deftype.com/project">关注的项目</a></li>
                <li><a href="http://app.deftype.com/project#my">我的项目</a></li>
              </ul>
              <strong>工具</strong>
              <ul>
                <li><a href="http://app.deftype.com/bookmarker">书签</a></li>
                <li><a href="/todo">Todo List <span id="ic"></span></a></li>
                <li><a href="http://120.24.68.174:8000" target="_blank">我的共享</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cc" class="push"></div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="span5 offset4">
        <span>&copy; 2011-2014</span>
        | <span id="version" title="应用版本">0.0.2-20140817</span>
        <span>Powered by
          <a href="http://golang.org" target="_blank">Golang</a> &amp;
          <a href="http://www.clojure.org" target="_blank">Clojure</a> &amp;
          <a href="http://code.google.com/appengine" target="_blank">GAE</a></span></div>
    </div>
  </div>
</footer>
<script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="/static/app/scripts/app.js"></script>
</body>
</html>
